# virtualenv
.venv
/venv/

# IntelliJ:
/.idea/**
/*.iml

# Python ephemerals:
**/__pycache__/
**/*.pyc
*.egg-info
.eggs
.ipynb_checkpoints/
*.ipynb
*.swp

# Test and Example side-effects:
/.cache/
/data/
data/
